/vendor
/node_modules

/.idea
/.vscode
*.swp
*.swo
*~

/public/hot
/public/storage

/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore

/bootstrap/cache/*.php
.phpunit.result.cache

.env
.env.backup
.env.production
.env.staging
.env.local

/storage/app/autom8/builds/*
/storage/app/autom8/artifacts/*
!/storage/app/autom8/builds/.gitignore
!/storage/app/autom8/artifacts/.gitignore

/public/build